html {
  font: 100%/1.15 sans-serif;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
  }
  

body {
  color: #333;
  background-color: #CCC;
  margin: 0;
  }
  
 
/* - - - figures - - - */

figure {
  padding: 0;
	margin: 0;
	}
	
figure.artwork {
  padding: 0;
	margin: 0;
	}
	
	figcaption.credit {
	text-align: right;
	}
	
	
/* - - - overlay text- - - */	

#hero-banner {
  position: relative;
}
  
#banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  height: 8em;
  font-size: 110%;
  text-align: center;
  background: #FFF;
  background: rgba(255, 255, 255, .8);
  padding: .5em;
  border-radius: .5em;
  margin: auto;
}
  

/* - - - flexible images - - - */
img {
  width: auto;
  max-width: 100%;
  height: auto;
	}
	
	/* - - - about me - - - */
#about {
  background: #FFF;
  padding: 5%;
  background: rgba(255, 255, 255, .8);
  }
	
#about h2 {
  text-align: center;
  }
	
	/* - - - portrait of self image - - - */	
	
	figure.headshot {
	float: left;
	width: 10em;
	height: 10em;
	border: .5em solid #CCC;
	border-radius: 50%;
	margin: 1em 2em 1em 0;
	overflow: hidden;
	}
	
/* descendent selector */

figure.headshot img {
	max-width: 105%;
	margin-left: -5%;
	}
	
	
	
	
	
	
	
	/* - - - footer - - - */
	
#contactinformation {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  line-height: -2em;
  }
	
img[src="img/facebook.svg"] {
  width: 2em;
	height: 2em;
	margin: 0em 2em 1em 0;
}
	
img[src="img/instagram.svg"] {
  width: 2em;
	height: 2em;
	margin: 0em 0em 1em 0;
}
	
	
	
	
	
	
	
	
	
	
	
	
	/* --- wider screen breakpoints --- */


@media (min-width: 20em) {

  #banner {
    font-size: 95%;
  }

@media (min-width: 48em) {

  #banner {
    font-size: 125%;
  }

@media (min-width: 60em) {

  #banner {
    font-size: 200%;
  }






}